<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>

    <div th:replace="fragment/head.html :: bootstrap_header"></div>

    <script src="js/admin/admin.js" type="module"></script>
</head>
<body>

<nav th:replace="fragment/navbar.html :: navbar">
</nav>

<div class="row min-vh-100">
    <div th:replace="fragment/menu.html :: left_menu">
    </div>

    <div class="col-md-10" style="background-color: #f8f9fa1f">
        <h2>Admin panel</h2>

        <!-- tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="user-list-tab" data-toggle="pill" href="#user-list" role="tab"
                   aria-controls="user-list" aria-selected="true">Users table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="user-add-tab" data-toggle="pill" href="#user-add" role="tab"
                   aria-controls="user-add" aria-selected="false">New User</a>
            </li>
        </ul>

        <!-- tabs content -->
        <div class="tab-content" id="admin-tab-content" style="padding: 20px">
            <!-- tabs user-list -->
            <div class="tab-pane fade show active" id="user-list" role="tabpanel" aria-labelledby="user-list-tab">

                <div class="card" style="margin-top: 20px">
                    <div class="card-header">All users</div>
                    <table id="userTable" class="table table-bordered" style="margin-bottom: 0">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 6%">ID</th>
                            <th scope="col" style="width: 10%">Role</th>
                            <th scope="col" style="width: 35%">Login</th>
                            <th scope="col" style="width: 35%">Name</th>
                            <th scope="col" style="width: 14%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- table content -->
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- tabs user-list -->

            <!-- tabs user-new-user -->
            <div class="tab-pane fade" id="user-add" role="tabpanel" aria-labelledby="user-add-tab">

                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <div class="card" style="margin-top: 20px;">
                            <div class="card-header" style="margin-bottom: 20px">Create new user</div>

                            <!-- alert -->
                            <div id="informationCreateUserContainer" style="display: none">
                                <div id="informationCreateUser" class="alert alert-danger fade show"
                                     style="margin-left: 12px; margin-right: 12px;" role="alert">
                                </div>
                            </div>
                            <!-- alert -->

                            <div class="form-group col-md-12">
                                <label for="inputNewLogin">Login</label>
                                <input type="text" class="form-control" id="inputNewLogin"
                                       placeholder="Please write login">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputNewName">Name</label>
                                <input type="text" class="form-control" id="inputNewName"
                                       placeholder="Please write name">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputNewPassword">Password</label>
                                <input type="password" class="form-control" id="inputNewPassword"
                                       placeholder="Please write password">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputNewRole">Role</label>
                                <select class="custom-select" id="inputNewRole">
                                    <option value="USER" selected>User</option>
                                    <option value="ADMIN">Admin</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <button id="button-user-create" class="btn btn-primary form-control" type="button">
                                    Create
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="col"></div>
                </div>

            </div>
            <!-- tabs user-new-user -->
        </div>
        <!-- tabs content -->
        <!-- tabs -->

    </div>
</div>

<!-- dialog userTable delete item -->
<div id="dialogUserTableDelete" class="modal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog h-100 d-flex flex-column justify-content-center my-0" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title">Attention</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Delete user under admin login?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="button-confirm-delete" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- dialog userTable delete item -->

<!-- dialog userUpdate -->
<div id="dialogUserUpdate" class="modal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog h-100 d-flex flex-column justify-content-center my-0" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- alert -->
                <div id="informationUpdateUserContainer" style="display: none">
                    <div id="informationUpdateUser" class="alert alert-danger fade show"
                         style="margin-left: 12px; margin-right: 12px;" role="alert">
                    </div>
                </div>
                <!-- alert -->

                <input type="hidden" id="inputUpdateId" value="">

                <div class="form-group col-md-12">
                    <label for="inputUpdateLogin">Login</label>
                    <input type="text" class="form-control" id="inputUpdateLogin" placeholder="Please write login">
                </div>
                <div class="form-group col-md-12">
                    <label for="inputUpdateName">Name</label>
                    <input type="text" class="form-control" id="inputUpdateName" placeholder="Please write name">
                </div>
                <div class="form-group col-md-12">
                    <label for="inputUpdatePassword">Password</label>
                    <input type="password" class="form-control" id="inputUpdatePassword"
                           placeholder="Please write password">
                </div>
                <div class="form-group col-md-12">
                    <label for="inputUpdateRole">Role</label>
                    <select class="custom-select" id="inputUpdateRole">
                        <option value="USER" selected>User</option>
                        <option value="ADMIN">Admin</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="button-user-update" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- dialog userUpdate -->

</body>
</html>