<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>

<!-- left menu -->
<div class="col-md-2 border" style="flex: 0 0 300px; padding-left: 0; padding-right: 0; background-color: #f8f9fa1f; height: 100vh" th:fragment="left_menu">
    <div class="list-group list-group-flush">
        <a sec:authorize="hasRole('ADMIN')"
           th:classappend="${#httpServletRequest.getRequestURI().equals('/admin')} ? 'active'" href="/admin"
           class="list-group-item list-group-item-action">Admin</a>
        <a sec:authorize="hasAnyRole('ADMIN,USER')"
           th:classappend="${#httpServletRequest.getRequestURI().equals('/user')} ? 'active'" href="/user"
           class="list-group-item list-group-item-action">User</a>
    </div>
</div>
<!-- left menu -->

</body>
</html>