<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>

    <div th:replace="fragment/head.html :: bootstrap_header"></div>
</head>
<body>
<div class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="intro">
                    <h1 class="text-center">Spring Boot Example Project</h1>
                </div>
                <div class="text"></div>
            </div>
        </div>
    </div>
</div>
</body>

</html>